<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chat</title>
        <link rel="stylesheet" href="/stylesheet/chat.css">
    </head>
    <body>
        <h1>Chat con: <%= id2 %></h1>

        <div id="mensajes">
            <% if (historial.length > 0) { %>
                <% for(var i = 0; i < historial.length; i++) { %>
                    <% if (historial[i].dataValues.uid == id1 ) { %>
                        <div class="l">
                            <div class="m">
                                <div class="text"><%= historial[i].dataValues.text %></div>
                                <div id="l-m"></div>
                            </div>
                        </div>
                    <% } %>
                    <% if (historial[i].dataValues.uid == id2 ) { %>
                        <div class="r">
                            <div class="m">
                                <div class="text"><%= historial[i].dataValues.text %></div>
                                <div id="r-m"></div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% }%>
            <!-- <div class="l">
                <div class="m">
                    <div class="text"></div>
                    <div id="l-m"></div>
                </div>
            </div>
            <div class="r">
                <div class="m">
                    <div class="text"></div>
                    <div id="r-m"></div>
                </div>
            </div> -->
        </div>
        <form id="form"> 
            <!-- <input id="id"> -->
            <input id="input-chat" placeholder="Ingrese su mensaje">
            <button type="submit" id="boton">Enviar</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js" charset="utf-8"></script>
        <script id="llamada" type="module" src="/js/main.js" class='<%= id1 %> <%= id2 %> <%= chatId %>'></script>
    </body>